body {
  background-color: #1d1d1d;
}

.calculator {
  width: 320px; /* set the calculator width to its original width */
  margin: 0 auto; /* center the calculator horizontally */
  padding: 20px;
  background-color: #e6e6e6; /* set the calculator background color back to its original color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a box shadow for a 3D effect */
}


.display {
  height: 50px;
  padding: 5px;
  text-align: right;
  background-color: black;
  border-radius: 10px;
}


.display p {
  margin: 0;
  font-size: 36px;
  color: white;
  font-family: Arial, sans-serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #555555;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #777777;
}
